# Build folder
build

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules

# Cache directories
.npm
.awcache
*.sublime-project
*.sublime-workspace

# OS X
.DS_STORE

# TypeScript
typings
*.css.d.ts
